*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #2FA97C;
    height: 64px;
    margin-left: 30%;
    color: white;
}

.title {
    margin-top: 34px;
}
